<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PastPaperHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Path" value="C:\" />
  </appSettings>
  <userSettings>
    <PastPaperHelper.Properties.Settings>
      <setting name="Path" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoUpdateFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoUpdateProgram" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>False</value>
      </setting>
    </PastPaperHelper.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1451.0.49" newVersion="17.1451.0.49" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Pdf.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1451.0.49" newVersion="17.1451.0.49" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>